.additional-products {
  margin-top: 20px;
}

.additional-products__title {
  font-family: @oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: @black1;

  margin: 0;
  margin-bottom: 20px;
}

.additional-products__list {
  .list-reset();
}

.additional-products__list-item {
  border-top: 1px solid @grey;

  &:last-child {
    border-bottom: 1px solid @grey;
  }
}

.additional-products__info {
  margin-top: 14px;
}

.additional-products__title-item {
  font-family: @oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: @black2;

  margin: 0;
}

.additional-products__table {
  margin-top: 15px;
}

.additional-products__table-item {
  font-family: @arial;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: @brown;

  margin: 0;
}

.additional-products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;

  font-family: @oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @green;

  margin-top: 14px;
  margin-bottom: 15px;
}

.additional-products__action {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  position: relative;
  width: 280px;
  height: 289px;

  margin-top: 39px;
}

.additional-products__condition {
  display: inline-block;
  width: 159px;

  font-family: @arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @white;
  text-align: center;

  margin-left: 60px;
  margin-top: 170px;
}

@media (min-width: @tablet-width) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-left: 38px;
    margin-right: 38px;
  }

  .additional-products__list-item {
    border: 1px solid @grey;
  }

  .additional-products__title-item {
    font-size: 20px;
  }

  .additional-products__table {
    margin-top: 0;
  }

  .additional-products__table-item {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__button {
    width: 633px;
  }

  .additional-products__action {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 708px;
    height: 200px;
  }

  .additional-products__condition {
    margin-top: 70px;
    margin-left: 430px;
  }
}

@media (min-width: @desktop-width) {
  .additional-products__container {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid blueviolet;
  }

  .additional-products__info {
    width: 895px;
    margin: 0;
  }

  .additional-products__list-item {
    border: none;
    border-bottom: 1px solid @grey;

    &:first-child {
      border-top: 1px solid @grey;
    }
  }

  .additional-products__button {
    width: 245px;
  }

  .additional-products__action {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 245px;
    height: 289px;

    margin: 0;
    margin-left: 80px;
  }

  .additional-products__condition {
    margin-top: 175px;
    margin-left: 50px;
  }
}
