
.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  color: #111111;
  margin-left: 20px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-left: 20px;

}

.advantages__description {
  min-width: 196px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin-left: 80px;
}
