
.advantages__list {
  .list-reset();
}

.advantages__title {
  font-family: @oswald;
  font-size: 36px;
  line-height: 60px;
  color: @black1;
  margin-left: 20px;
  .text-style();
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green;
  }

  &--bio::before {
    background-image: url("/img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--format::before {
    background-image: url("/img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--food::before {
    background-image: url("/img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--time::before {
    background-image: url("/img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantages__description {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @brown;
  margin-left: 80px;
  .text-style();
  outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__description {
    display: block;
    min-width: 196px;
  }
}
