.catalog {
  margin-top: 27px;
}

.catalog__list {
  .list-reset();
}

.catalog__list-item {
  border: 1px solid @border-grey;
  box-sizing: border-box;
  min-height: 210px;

  margin-top: -1px;
}

.catalog__link {
  text-decoration: none;
}

/*
.catalog__info-block {
  min-width: 50px;
}
*/
.catalog__image {
  margin-top: 2px;
  margin-left: 20px;
}

.catalog__title-item {
  font-family: @oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: @black1;

  margin: 0;
  margin-top: 24px;
  margin-right: 80px;
  margin-bottom: 11px;
}

.catalog__table {
  border-spacing: 0;
}

.catalog__table-item td {
  font-family: @arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: @brown;

  margin: 0;
  padding: 0;

  &:nth-child(2n) {
    padding-left: 60px;
    text-align: right;
  }
}

.catalog__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;

  font-family: @oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @green;

  margin-left: 19px;

  &:hover,
  &:focus {
    background-color: @grass;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog__product-info {
  display: flex;
  margin-bottom: -4px;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 165px;
  }

  .catalog__list-item {
    width: 324px;
    min-height: 410px;
    /*background-color: @light-grey;*/
    background-color: red;

    margin-bottom: 50px;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      background-color: @white;
    }
  }

  .catalog__title-item {
    width: 150px;

    font-size: 20px;
    text-align: center;

    margin-right: 0;
    margin-left: 50px;
  }

  .catalog__image {
    &:nth-child(odd) {
      margin-top: -45px;
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-top: 105px;
      margin-left: 0;
    }
  }

  .catalog__table-item td {
    font-size: 16px;
    border-bottom: 1px solid @grey;

    padding-top: 5px;
    padding-bottom: 10px;

    &:nth-child(2n) {
      padding-left: 140px;
    }
  }

  .catalog__product-info {
    flex-direction: column;
    align-items: center;
  }

  .catalog__button {
    width: 249px;
    height: 40px;
    margin-top: 35px;
    margin-bottom: 39px;
    margin-left: 35px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__list-item {
    min-width: 245px;
    margin-right: 0;
  }
  /*&:nth-child(2n) {
      margin-right: 0;
    }*/

  .catalog__title-item {
    margin-left: 0;
  }

  .catalog__table-item td {
    &:nth-child(2n) {
      padding-left: 60px;
    }
  }

  .catalog__button {
    width: 169px;
    margin-left: 35px;
  }
}
