.catalog-list {
  .list-reset();
}

.catalog-list__item {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.catalog-list__link {
  text-decoration: none;
}

.catalog-list__item h3 {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: @black1;
  .text-style();
}

.product-table__item td {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: @brown;
  .text-style();
}

.catalog-list__button {
  display: inline-block;
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  margin-bottom: 25px;
  padding: 12px 105px;
  .text-style();

  &:hover,
  &:focus {
    background-color: @grass;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
