.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list__item {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.catalog-list__item h3 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.product-table__item td {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.catalog-list__button {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 12px 105px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  margin-bottom: 25px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
