.collaboration {
  display: flex;
  justify-content: space-between;
}

.collaboration-description {
  background-color: #f2f2f2;
}

.collaboration__title {
  width: 123px;
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  color: @black1;
  .text-style();
}

.collaboration__address {
  width: 134px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: @brown;
  .text-style();
}

.collaboration__map {
  margin-left: -22px;
}
