.collaboration {
  display: flex;
  justify-content: space-between;
}

.collaboration-description {
  background-color: #f2f2f2;
}

.collaboration__title {
  width: 123px;
  font-family: @oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  color: #111111;
}

.collaboration__address {
  width: 134px;
  font-family: @arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.collaboration__map {
  margin-left: -22px;
}
