.example {
  background-color: @light-grey;
}

.example__title {
  font-family: @oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @black1;

  margin: 0;
  margin-top: 38px;
}

.example__subtitle {
  font-family: @arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @brown;

  margin-top: 24px;
  margin-right: 10px;
  margin-bottom: 23px;
}

.example__result {
  display: flex;
  flex-direction: column;
}

.example__result-list {
  display: flex;

  list-style: none;

  margin: 0;
  padding: 0;
}

.example__result-item {
  position: relative;

  &:first-child {
    margin-right: 29px;
  }
}

.example__result-quantity {
  display: block;
  width: 124px;
  border: 1px solid @border-dark-grey;
  border-radius: 3px;

  font-family: @oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @black1;

  padding-top: 14px;
  padding-bottom: 17px;
}

.example__result-comment {
  display: block;
  position: absolute;
  width: 80px;
  top: 47px;
  left: 21px;
  background-color: @light-grey;

  font-family: @arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: @brown;
}

.example__result-total {
  display: flex;
  justify-content: center;

  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: @black1;
  text-transform: uppercase;

  margin-top: 19px;
}

.example__amount {
  margin-left: 2px;
}

/* Слайдер*/
.example__slider-list {
  list-style: none;

  margin: 0;
  padding: 0;

  margin-top: 20px;
}

.example__cat {
  display: block;
  margin-left: -20px;
}

.example__slider-item {
  display: none;
}

.fat-cat:checked ~ .example__slider-list .example__slider-item--fat-cat,
.slim-cat:checked ~ .example__slider-list .example__slider-item--slim-cat {
  display: block;
}

/*Прогрессбар*/
.example__progressbar {
  display: flex;
  align-items: center;

  margin-top: 32px;
  margin-left: 44px;
  padding-bottom: 35px;
}

.example__progressbar-label {
  font-family: @oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: @black1;
  text-transform: uppercase;

  &:first-child {
    margin-right: 18px;
  }

  &:last-child {
    margin-left: 16px;
  }
}

.example__progressbar-toggle {
  width: 84px;
  height: 14px;
  border: 1px solid @border-dark-grey;
  border-radius: 6px;
  background-color: @white;
}

.example__progressbar-range {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @green;

  margin: 4px 5px 0;
}

/*-----------------------------Планшетная версия--------------------------------------------*/
@media (min-width: @tablet-width) {
  .example {
    display: flex;
    background: linear-gradient(to right, @light-grey 50%, #eaeaea 50%);
  }

  .example__title {
    font-size: 60px;
  }

  .example__subtitle {
    font-size: 16px;
    line-height: 24px;

    margin-top: 65px;
    margin-bottom: 52px;
  }

  .example__result {
    flex-direction: row;
    justify-content: space-between;
  }

  .example__result-item--tern {
    margin-left: 10px;
  }

  .example__result-quantity {
    width: 162px;
    font-size: 30px;
    line-height: 37px;

    padding-top: 14px;
    padding-bottom: 19px;
  }

  .example__result-comment {
    width: 130px;
    top: 63px;
    left: 18px;

    font-size: 14px;
    line-height: 14px;

    background-color: @white;
  }

  .example__result-total {
    flex-direction: column;
    font-size: 20px;
    text-align: right;
    line-height: 20px;

    margin-top: 12px;
    margin-bottom: 300px;
  }

  .example__cost {
    margin: 0;
  }

  .example__amount {
    margin: 0;
    margin-top: 10px;
  }
  /*--------------------------------------------------Слайдер--------------------------------------------------*/
  .example__slider {
    position: relative;
    margin-left: 20px;
  }

  .example__slider-list {
    display: flex;
  }

  .example__slider-item {
    display: block;
  }

  .example__cat {
    position: absolute;
    top: -222px;
    left: 16px;
  }

  .example__cat--fat-cat {
    clip: rect(auto, 338px, auto, auto);
  }

  .example__cat--slim-cat {
    clip: rect(auto, auto, auto, 338px);
  }
  /*--------------------------------------------------Прогрессбар--------------------------------------------------*/
  .example__progressbar {
    margin-top: 310px;
    margin-left: 64px;

    padding-bottom: 67px;
  }

  .example__progressbar-toggle {
    position: relative;
    width: 428px;
    height: 6px;
    background-color: @toggle;

    border: none;
    border-radius: 2.5px;

    margin-top: -2px;
  }

  .example__progressbar-range {
    position: absolute;
    width: 34px;
    height: 34px;
    top: -19px;
    left: 193px;

    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: @white;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 13px;
      left: 13px;
      border-radius: 50%;
      background-color: @grass;
    }
  }

  .example__progressbar-label {
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: 1px dotted @black1;

    padding-bottom: 6px;

    &:first-child {
      margin-top: 4px;
      margin-left: -16px;
      margin-right: 24px;
    }

    &:last-child {
      margin-top: 2px;
      margin-left: 22px;
    }

    &:active {
      border-color: transparent;
    }
  }
}
/*-----------------------------Десктопная версия--------------------------------------------*/
@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to right, @light-grey 72.5%, #eaeaea 27%);
    /*background: linear-gradient calc(red 50% + 150px yellow);*/
  }

  .example__title {
    margin-top: -136px;
  }

  .example__subtitle {
    width: 435px;

    padding-top: 82px;
    margin-bottom: 68px;
  }

  .example__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__result {
    flex-direction: column;
  }

  .example__result-total {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-top: 60px;
  }

  .example__amount {
    margin: 0;
    margin-left: 65px;
  }

  .example__result-comment {
    background-color: @light-grey;
  }

  .example__slider {
    position: relative;
    background: none;
    margin-top: 120px;
  }

  .example__cat {
    position: absolute;
    top: -310px;
    left: -14px;
  }

  .example__cat--fat-cat {
    clip: rect(auto, 365px, auto, auto);
  }

  .example__cat--slim-cat {
    clip: rect(auto, auto, auto, 365px);
  }

  .example__progressbar {
    margin-top: 223px;
    margin-left: 60px;

    padding-bottom: 66px;
  }

  .example__progressbar-range:hover,
  .example__progressbar-range:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .example__progressbar-range:active {
    border: 2px solid @green;
  }

  .example__progressbar-label {
    font-size: 20px;

    cursor: pointer;

    &:hover,
    &:focus {
      border-bottom: 1px solid @black1;
    }

    &:active {
      border-color: transparent;
    }
  }
}
