.example {
  background-color: @light-grey;
}

.example__title {
  font-family: @oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @black1;

  margin: 0;
  margin-top: 39px;
}

.example__subtitle {
  font-family: @arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @brown;

  margin-top: 23px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.example__result {
  display: flex;
  flex-direction: column;
}

.example__result-list {
  display: flex;

  list-style: none;

  margin: 0;
  padding: 0;
}

.example__result-item {
  position: relative;

  &:first-child {
    margin-right: 29px;
  }
}

.example__result-quantity {
  display: block;
  width: 124px;
  border: 1px solid @border-dark-grey;
  border-radius: 3px;

  font-family: @oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @black1;

  padding-top: 13px;
  padding-bottom: 17px;
}

.example__result-comment {
  display: block;
  position: absolute;
  width: 80px;
  top: 47px;
  left: 21px;
  background-color: @light-grey;

  font-family: @arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: @brown;
}

.example__result-total {
  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: @black1;
  text-transform: uppercase;

  margin-top: 35px;
}

.example__slider-list {
  list-style: none;

  margin: 0;
  padding: 0;

  margin-top: 20px;
}

.example__fat-cat,
.example__slim-cat {
  display: block;
  width: 100%;
}

.example__progressbar {
  display: flex;
  align-items: center;

  margin-top: 31px;
  margin-left: 44px;
  padding-bottom: 35px;
}

.example__progressbar-label {
  font-family: @oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: @black1;
  text-transform: uppercase;

  &:first-child {
    margin-right: 18px;
  }

  &:last-child {
    margin-left: 16px;
  }
}

.example__progressbar-toggle {
  width: 84px;
  height: 14px;
  border: 1px solid @border-dark-grey;
  border-radius: 6px;
  background-color: @white;
}

.example__progressbar-range {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @green;

  margin: 4px 5px 0;
}

.example__slide {
  display: none;
}

.test1:checked ~ .example__slider-list .slide1,
.test2:checked ~ .example__slider-list .slide2 {
  display: block;
}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;
  }

  .example__subtitle {
    font-size: 16px;
    line-height: 24px;

    margin-top: 65px;
    margin-bottom: 52px;
  }

  .example__result {
    flex-direction: row;
    justify-content: space-between;
  }

  .example__result-item--tern {
    margin-left: 10px;
  }

  .example__result-quantity {
    width: 162px;
    font-size: 30px;
    line-height: 37px;

    padding-top: 14px;
    padding-bottom: 19px;
  }

  .example__result-comment {
    width: 130px;
    top: 63px;
    left: 18px;

    font-size: 14px;
    line-height: 14px;
  }

  .example__result-total {
    width: 174px;

    font-size: 20px;
    text-align: right;

    margin-top: 11px;
  }

  .example__progressbar {
    margin-left: 60px;
  }

  .example__progressbar-toggle {
    position: relative;
    width: 428px;
    height: 6px;
    background-color: @toggle;
  }

  .example__progressbar-range {
    position: absolute;
    width: 34px;
    height: 34px;
    top: -20px;
    left: 190px;

    border-radius: 50%;
    background-color: @white;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 13px;
      left: 13px;
      border-radius: 50%;
      background-color: @grass;
    }
  }

  .example__progressbar-label {
    border-bottom: 1px dotted @black1;

    padding-bottom: 6px;
  }
}

@media (min-width: @desktop-width) {
  .example__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__info {
    outline: 1px solid hotpink;
  }

  .example__slider {
    margin-top: 120px;
    outline: 1px solid hotpink;
  }

  .example__title {
    margin-top: -136px;
    margin-left: 1px;
  }

  .example__subtitle {
    width: 430px;

    padding-top: 82px;
    margin-bottom: 68px;
  }

  .example__result {
    flex-direction: column;
  }

  .example__result-total {
    width: 300px;

    margin-top: 60px;
    padding-bottom: 75px;
  }

  .example__progressbar-label {
    font-size: 20px;
  }

  .example__progressbar {
    margin-left: 0;
  }
}
