.main-navigation {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.main-navigation__toggle {
  display: block;
  position: absolute;
  width: 25px;
  height: 19px;
  top: -30px;
  right: 0;
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-navigation--closed .main-navigation__toggle::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 0;
  right: 0;
  background-color: @black2;
  box-shadow: 0 8px 0 0 @black2, 0 16px 0 0 @black2;
}

@media (min-width: @tablet-width) {
  .main-navigation__toggle {
    display: none;
  }
}
