.more-goods {
  margin-top: 80px;
  border-bottom: 1px solid @light-grey;
}

.more-goods__title {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @black1;
  text-transform: uppercase;
  .text-style();
}

.more-goods__subtitle {
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @brown;
  .text-style();
}

.more-goods__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @brown;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @light-grey;
  margin-bottom: 25px;
  .text-style();
}
