.more-goods__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.more-goods__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}

.more-goods__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 95px;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-bottom: 25px;
}
