.more-goods {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 320px;
  min-height: 210px;

  border: 1px solid @border-grey;
  box-sizing: border-box;

  margin: 0;
  margin-top: -1px;
}

.more-goods__title {
  display: block;
  position: relative;

  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @black1;
  text-transform: uppercase;

  margin: 0;
  margin-left: 2px;
  margin-top: 82px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/icon-plus-mobile.svg");
    width: 31px;
    height: 31px;
    top: -55px;
    left: 142px;
    opacity: 0.2;
  }
}

.more-goods__subtitle {
  display: block;

  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @brown;

  margin: 0;
  margin-top: 7px;
  margin-left: 2px;
}

.more-goods__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;

  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @brown;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @light-grey;

  margin-left: 20px;
  margin-top: 21px;

  &:hover,
  &:focus {
    background-color: @border-grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
/*-----------------------------Планшетная версия--------------------------------------------*/
@media (min-width: @tablet-width) {
  .more-goods {
    width: 324px;
    height: 432px;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid @border-grey;
  }

  .more-goods__title {
    width: 140px;

    font-size: 20px;
    margin-top: 165px;

    &::before {
      background-image: url("/img/icon-plus.svg");
      width: 61px;
      height: 61px;
      top: -110px;
      left: 39px;
      opacity: 0.2;
    }
  }

  .more-goods__subtitle {
    width: 170px;

    font-size: 16px;

    margin-top: 28px;
  }

  .more-goods__button {
    width: 249px;
    height: 40px;

    margin-top: 87px;
    margin-left: 0;
  }
}
/*-----------------------------Десктоп версия--------------------------------------------*/
@media (min-width: @desktop-width) {
  .more-goods {
    width: 245px;
    box-sizing: border-box;
  }

  .more-goods__title {
    width: 140px;

    margin-left: 0;
  }

  .more-goods__subtitle {
    margin-left: 0;
  }

  .more-goods__button {
    width: 169px;

    margin-left: 0;
  }
}
