.page-title {
  font-family: @oswald;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: @black1;
}

.page-title__subtitle {
  display: inline-block;
  width: 226px;

  font-family: @oswald;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @black1;
}

@media (min-width: @tablet-width) {
  .page-title {
    font-size: 60px;
  }
}
