.page-footer {
  display: flex;
  align-items: center;
  background-color: @light-grey;
}

.page-footer__logo {
  display: block;

  padding-top: 41px;
  padding-bottom: 27px;
  margin-left: 75px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    margin-left: 1px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 22px;
  }
}
