.page-title {
  font-family: @oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: @black1;
  margin: 0;

  &--catalog {
    margin-top: 17px;
  }

  &--form {
    margin-top: 15px;
  }
}

.page-title__subtitle {
  display: inline-block;
  width: 226px;

  font-family: @oswald;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @black1;
  margin: 0;
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .page-title {
    font-size: 60px;
    margin-top: 55px;

    &--catalog {
      margin-top: 46px;
    }

    &--form {
      margin-top: 46px;
      margin-left: -1px;
    }
  }

  .page-title__subtitle {
    width: 330px;
    font-size: 20px;
    line-height: 30px;

    margin-top: 57px;
    margin-left: 40px;
  }
}
/*-----------------------------Десктоп версия--------------------------------------------*/
@media (min-width: @desktop-width) {
  .page-title {
    &--catalog {
      margin-top: 64px;
    }

    &--form {
      margin-top: 64px;
    }
  }

  .page-title__subtitle {
    margin-left: 0;
  }
}
