.progressbar {
    display: flex;
}

.progressbar__label {
font-family: @oswald;
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 20px;
letter-spacing: normal;
text-align: left;
color: #111111;
}

.progressbar__toggle {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.progressbar__range {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  margin: 4px 6px 0;
}
