.program-selection__list {
  .list-reset();
  margin-top: 15px;
}

.program-selection__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.program-selection__field {
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  color: @black2;
  text-transform: uppercase;
}

.program-selection__input {
  width: 160px;
  height: 25px;

  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @brown;
  border: 1px solid @border-dark-grey;

  margin-left: 15px;
  margin-bottom: 14px;
  padding-left: 15px;

  &--first-input {
    width: 200px;
  }

  &--second-input {
    width: 180px;
  }

  &--third-input {
    width: 140px;
  }

  &--fourth-input {
    width: 190px;
  }

  &--fifth-input {
    width: 175px;
  }
}

.program-selection__radio {
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  color: @brown;
  text-transform: uppercase;

  margin-bottom: 26px;

  &:first-child {
    border-top: 1px solid @border-grey;
    padding-top: 30px;
  }

  &:last-child {
    border-bottom: 1px solid @border-grey;
    padding-bottom: 30px;
  }
}

.program-selection__legend {
  font-family: @oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @black1;

  margin-bottom: 30px;
  margin-top: 14px;
}

.program-selection__letter {
  width: 260px;
  height: 150px;
  border: 1px solid @border-dark-grey;

  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @brown;

  padding-left: 15px;
  margin-bottom: 30px;
}

.program-selection__checkbox {
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: @black2;
  text-transform: uppercase;

  margin-bottom: 28px;
}

.program-selection__button {
  display: inline-block;

  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  border: none;

  padding: 10px 76px;
  margin-left: 2px;
  margin-bottom: 20px;

  cursor: pointer;
}

.program-selection__small-text {
  font-family: @arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: @brown;
}
