.program-selection-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.program-selection__field {
  font-family: @oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #222222;
  text-transform: uppercase;
}

.program-selection__input {
  width: 160px;
  height: 25px;
  margin-bottom: 14px;
  padding-left: 15px;
  font-family: @oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #444444;
}

.program-selection__radio {
  font-family: @oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 26px;

  &:first-child {
    border-top: 1px solid #ededed;
    padding-top: 30px;
  }

  &:last-child {
    border-bottom: 1px solid #ededed;
    padding-bottom: 30px;
  }
}

.program-selection__legend {
  font-family: @oswald;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-bottom: 30px;
  margin-top: 14px;
}

.letter {
  width: 260px;
  height: 150px;
  border: 1px solid #cdcdcd;
  margin-bottom: 30px;
  font-family: @oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #444444;
  padding-left: 15px;
}

.program-selection__checkbox {
  font-family: @oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.program-selection__button {
  display: inline-block;
  font-family: @oswald;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px 76px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  margin-left: 2px;
  margin-bottom: 20px;
  cursor: pointer;
}

.program-selection__small-text {
  font-family: @arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}
