.site-list {
  display: flex;
  flex-direction: column;
  .list-reset();
  outline: 1px solid blue;
  margin-bottom: 10px;
  margin-top: 10px;
}

.site-list__item {
  position: relative;
  border-bottom: 1px solid @border-grey;

  &:first-child {
    border-top: 1px solid @border-grey;
  }

  &:last-child {
    border-bottom: none;
  }
}

.site-list__item a {
  display: block;
  width: 100%;
  font-family: @oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @black1;

  padding: 23px 0;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    margin-left: 50px;
  }

  .site-list__item {
    border: none;

    &:first-child {
      border-top: none;
    }
  }

  .site-list a {
    font-size: 18px;
    line-height: 25px;
    border: none;

    margin-right: 25px;
    padding-bottom: 5px;
  }

  .site-list__item--active a {
    border-bottom: 2px solid @green;
  }

  .site-list__item--active-index a {
    border-bottom: 2px solid @green;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    margin-left: 550px;
    width: 500px;
  }

  .site-list a {
    font-size: 20px;
    line-height: 25px;

    margin-right: 30px;
  }

  .site-list--index a {
    color: @white;

    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .site-list__item--active-index a {
    border-bottom: 2px solid @white;
  }
}
