.social-list {
  display: flex;
  align-items: center;
  /*justify-content: center;*/

  border-top: 1px solid @grey;
  border-bottom: 1px solid @grey;
  .list-reset();

  padding-top: 23px;
  padding-bottom: 17px;
}

.social-list__item {
  width: 55px;

  &:first-child {
    margin-left: 72px;
    margin-right: 5px;
  }
}

.social-list__icon {
  fill: @brown-grey;

  &:hover {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }
}
