.store {
  position: relative;
}

.store__image {
  margin-left: -20px;
}

.store__title {
  width: 250px;
  font-family: @oswald;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
  position: absolute;
  top: 29px;
  left: 20px;
}

.store__slogan {
  font-family: @oswald;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 125px;
  left: 40px;
}

.store__button {
  display: inline-block;
  font-family: @oswald;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  padding: 13px 70px;
  margin-top: 135px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
