.store {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 420px;

  &::before {
    background-image: url("/img/index-background-mobile@1x.jpg");
    position: absolute;
    content: "";
    width: 320px;
    height: 305px;
    z-index: -1;

    margin-left: -20px;
  }
}

.store__title {
  display: inline-block;

  font-family: @oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: @white;

  margin-top: 20px;
  margin-bottom: 20px;
}

.store__slogan {
  display: inline-block;

  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @white;
}

.store__button {
  display: block;
  width: 280px;

  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @green;

  padding: 11px 0;
  margin-top: 230px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @grass;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .store {
    &::before {
      background-image: none;
    }
  }

  .store__title {
    width: 450px;

    font-size: 60px;
    line-height: 60px;
    color: @black1;
    text-align: left;
  }

  .store__slogan {
    font-size: 20px;
    line-height: 20px;
    color: @black1;
    text-align: left;

    margin: 0;
    margin-top: 20px;
  }

  .store__button {
    width: 245px;

    font-size: 20px;
    line-height: 20px;

    padding: 15px 0;
    margin-top: 30px;
  }
}

@media (min-width: @desktop-width) {
  .store {
    min-height: 696px;

    &::before {
      background-image: url("/img/index-background-desktop@1x.jpg");
      position: absolute;
      content: "";
      width: 720px;
      height: 696px;
      z-index: -1;

      margin-left: 700px;
      margin-top: -74px;
    }
  }

  .store__title {
    margin-top: 150px;
    margin-left: 80px;
  }

  .store__slogan {
    margin: 0;
    margin-top: 20px;
    margin-left: 80px;
  }

  .store__button {
    margin-top: 30px;
    margin-left: 80px;
  }
}
