
.store {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 306px;
  background-position: 50% 0;
}

.store__info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.store__title {
  display: inline-block;

  font-family: @oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: @white;

  margin-top: 27px;
  margin-bottom: 25px;
}

.store__slogan {
  display: inline-block;

  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @white;

  margin: 0;
  margin-bottom: 28px;
}

.store__image-item {
  margin-top: 1px;
}

.store__button {
  display: block;
  width: 280px;

  font-family: @oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @green;

  padding: 11px 0;
  margin-top: -1px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @grass;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .store {
    background-image: none;
    padding-bottom: 510px;
  }

  .store__info {
    align-items: flex-start;
  }

  .store__title {
    width: 450px;

    font-size: 60px;
    line-height: 60px;
    color: @black1;
    text-align: left;

    margin-top: 46px;
    margin-left: 88px;
  }

  .store__slogan {
    font-size: 20px;
    line-height: 20px;
    color: @black1;

    margin: 0;
    margin-top: 16px;
    margin-left: 89px;
  }

  .store__image-item {
    position: absolute;
    content: "";
    width: 709;
    height: 609;
    top: 246px;
    left: -1px;
    z-index: -1;
  }

  .store__button {
    width: 245px;

    font-size: 20px;
    line-height: 20px;

    padding: 16px 0;
    margin-top: 48px;
    margin-left: 89px;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .store {
    margin-top: -125px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat right, linear-gradient(to right, @white 50%, @grass 50%);

    padding-bottom: 188px;
  }

  .store__title {
    margin: 0;
    margin-top: 223px;
    margin-left: 80px;
  }

  .store__slogan {
    margin-top: 40px;
    margin-left: 80px;
  }

  .store__image-item {
    width: 522;
    height: 499;
    top: 143px;
    left: 450px;

    z-index: 2;
  }

  .store__button {
    margin-top: 54px;
    margin-left: 80px;
  }
}
