.wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper-store {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  position: relative;
}

.header-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.wrapper-catalog,
.wrapper-collaboration {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .wrapper-example {
    margin-top: -615px;
  }

  .wrapper-store {
    width: 708px;
    padding: 0 30px;
  }

  .header-wrapper {
    width: 708px;
    padding: 0 30px;
    display: flex;
  }

  .wrapper-catalog {
    width: 708px;
    padding: 0 30px;
  }

  .wrapper-collaboration {
    width: 767px;
    margin: 0 auto;
    padding: 0;
  }

  .wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: 1220px;
    padding: 0 100px;
  }

  .wrapper-example {
    margin-top: 0;
  }

  .header-wrapper {
    width: 1220px;
    padding: 0 100px;
  }

  .wrapper-store {
    width: 1220px;
    padding: 0 100px;
  }

  .wrapper-catalog {
    width: 1220px;
    padding: 0 100px;
  }

  .wrapper-collaboration {
    position: relative;
    width: 1220px;
    padding: 0 110px;
  }
}
