.wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
}
/*
.main-nav__wrapper {
  width: 320px;
  padding: 0;
}
*/
@media (min-width: @tablet-width) {
  .wrapper {
    width: 708px;
    padding: 0 30px;
    outline: 1px solid red;
  }
}

