@oswald: "Oswald", "Arial", sans-serif;
@green: #68b738;
@grass: #5eaa2f;
@black1: #111111;
@black2: #222222;
@brown: #444444;
@white: #ffffff;
@grey:#d9d9d9;
@light-grey: #f2f2f2;
@tablet-width: 728px;
@desktop-width: 1400px;
